# Jetbrains
.idea

# Ansible
.ansible

# Terraform
terraform/**/.terraform*
terraform/**/terraform.tfstate*
terraform/**/credentials.auto.tfvars

## Cloudflare credentials file
terraform/cloudflare/credentials

# Kubernetes
apps/**/charts
