# Jetbrains
.idea

# Ansible
.ansible

# Terraform
terraform/**/.terraform/
terraform/**/terraform.tfstate*
terraform/**/credentials.auto.tfvars
terraform/**/*.tfvars
!terraform/**/routes.auto.tfvars

## Cloudflare credentials file
terraform/cloudflare/credentials

# Kubernetes
apps/**/charts
/kubeconfig

# Cluster API provider credentials
capi/credentials.env
