# Jetbrains
.idea

# Ansible
.ansible

# Terraform
terraform/**/.terraform/
terraform/**/terraform.tfstate*
terraform/**/credentials.auto.tfvars
terraform/**/credentials*.tfvars
/terraform.tfstate*

## Cloudflare credentials file
terraform/cloudflare/credentials

# Kubernetes
apps/**/charts
/kubeconfig

# Cluster API provider credentials
capi/credentials.env
