remove me

# Documentation
README.md

# Ne pas inclure Git metadata
.git
.gitignore

# Ne pas inclure les fichiers de dépendances locales
node_modules

# Logs, caches et artefacts
npm-debug.log
yarn-error.log
*.log

# OS & IDE files
.DS_Store
Thumbs.db
.idea
.vscode

# Build output (inutile au moment du build)
dist
